@charset "ISO-8859-1";
body {
	background-color: rgb(102, 102, 102);
	color:whitesmoke

}
h1 {
	text-align: center;
	background-color: black;
	margin-left: 700px;
	margin-right: 700px;
	border: 3px solid rgb(0, 255, 255);
}

table {
	background-color: rgb(78, 78, 78);
}
.TableOfContents{
	background-color: red;
}
